* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.App {
  font-family: sans-serif;
}

th {
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.normal {
  background-color: green;
}

.warning {
  background-color: yellow;
}

.serious_warning {
  background-color: orange;
}

.critical_warning {
  background-color: red;
}
